{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "PostgreSQLConnection": "Host=HOST:PORT;Username=USER;Password=PASSWORD;Database=DATABASE"
  }
}